:root {
  --primary-color-orange: #ff5c10;
  --second-color-white: #fff;
  --thirty-color-gray: #e4e2e4;
  --fourth-color-black: #000000;
}

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--second-color-white);
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header {
  background-color: var(--primary-color-orange);
}
.nav-bar {
  display: flex;
  justify-content: center;
  padding: 1.5rem 6rem;
}

.nav-list {
  display: flex;
  align-items: center;
}

.nav-list ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

.nav-item {
  margin: 0 15px;
}

.nav-link {
  text-decoration: none;
  font-size: 1.15rem;
  color: var(--thirty-color-gray);
  font-weight: 400;
  transition: 0.5s;
}

.nav-link:hover {
  color: var(--second-color-white);
}

.mobile-menu-icon {
  display: none;
}

.mobile-menu {
  display: none;
  position: absolute;
  background-color: var(--primary-color-orange);
  width: 100%;
  z-index: 1;
}

.mobile-menu-3lines {
  cursor: pointer;
}

.mobile-menu-3lines div {
  width: 32px;
  height: 2px;
  background: var(--thirty-color-gray);
  margin: 8px;
  transition: 0.3s;
}

@media screen and (max-width: 850px) {
  .nav-bar {
    padding: 1.5rem 4rem;
  }
  .nav-item {
    display: none;
  }
  .login-button {
    display: none;
  }
  .mobile-menu-icon {
    display: block;
  }
  .mobile-menu-icon button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  .mobile-menu ul {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding-bottom: 1rem;
  }
  .mobile-menu .nav-item {
    display: block;
    padding-top: 1.2rem;
  }
  .mobile-menu .login-button {
    display: block;
    padding: 1rem 2rem;
  }
  .mobile-menu .login-button button {
    width: 100%;
  }
  .open {
    display: block;
  }
}

.apresentation {
  height: 75vh;
  display: flex;
  justify-content: space-around;
  padding: 20px;
  margin: 0 5rem;
}

.apresentation-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--fourth-color-black);
}

.hello {
  font-size: 80px;
}

.name {
  font-size: 80px;
  color: var(--primary-color-orange);
}

.developer {
  font-size: 80px;
}

.description {
  margin-top: 1rem;
  width: 100%;
  color: #d3d0d3;
  font-size: large;
  
}

.button-cv {
  padding: 0.5rem 3rem;
  border-radius: 0.5rem;
  color: var(--second-color-white);
  background-color: var(--primary-color-orange);
  transition: 0.5s;
  margin-top: 1rem;
  font-size: medium;
  font-weight: bold;
  border: 1px solid transparent;
}

.button-cv:hover {
  background-color: var(--second-color-white);
  color: var(--primary-color-orange);
  border: 1px solid var(--primary-color-orange);
}

.apresentation-image {
  display: flex;
  justify-content: center;
}
.picture-frame {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.frame {
  background-color: var(--primary-color-orange);
  height: 37rem;
  width: 33rem;
}

.picture {
  height: 30rem;
  width: 30rem;
  position: absolute;
  background-color: var(--second-color-white);
  z-index: 0;
  margin-bottom: 4rem;
}

.picture > img {
  width: 100%;
  height: 100%; /* A altura da imagem é ajustada automaticamente */

}

.arrow-down {
  width: 100%;
  height: 20vh;
  text-align: center;
}

.arrow {
  color: var(--primary-color-orange);
  padding: 1rem;
  border-radius: 50%;
  animation-name: arrowdown;
  position: relative;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes arrowdown {
  0% {
    top: 0px;
  }
  100% {
    top: 20px;
  }
}

.arrow > a > img {
  width: 32px;
}

.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color-orange);
  margin: 10rem;
  border-radius: 2rem;
}

.description-about {
  display: flex;
  flex-direction: column;
  height: 50%;
  font-size: 25px;
  color: var(--second-color-white);
}

.description-about > h1 {
  padding: 2rem 0;
  text-align: center;
}

.description-about > p {
  padding: 1rem 5rem;
  text-align: justify;
}

.work-and-school-container {
  display: flex;
  width: 100%;
  padding: 1rem;
  margin: 1rem 0 2rem 0;
  justify-content: space-evenly;
  align-items: center;
}

.work-and-school {
  border: 2px solid var(--second-color-white);
  padding: 1rem;
  border-radius: 1rem;
  color: var(--second-color-white);
  width: 40%;
}

.work-and-school > h4 {
  text-align: center;
  padding: 0.5rem;
}

.work-and-school > p {
  text-align: center;
}


.skils-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  margin-top: 2rem;
}

.skils-section > h1 {
  color: var(--primary-color-orange);
}
.skiks-container {
  display: flex;
  padding: 3rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 5rem;
  margin-top: 1rem;
}

.row {
  display: flex;
  margin-left: 5rem;
}

.row-more {
  display: flex;
  margin-left: 5rem;
}

.skils-card {
  color: var(--primary-color-orange);
  border-radius: 1rem;
  margin: 1rem;
  padding: 1rem;
  display: flex;
  width: 15rem;
  border: 1px solid var(--primary-color-orange);
  font-weight: bold;
  align-items: center;
  justify-content: center;
}
.skils-img {
  margin-right: 0.5rem;
  width: 64px;
}

.projects-section {
  margin: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects-section > h1 {
  color: var(--primary-color-orange);
  font-size: 35px;
}

.container-projects-wrap {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 1rem 5rem;
}

.projects-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
    border: 1px solid var(--primary-color-orange);
    border-radius: 1rem;

}
.card-project {
  height: 30rem;
  width: 25rem;
  flex-direction: column;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.container-img-project {
  background-color: #ff5c10;
  border-radius: 1rem;
  min-height: 40%;
  max-height: 40%;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;

}
.container-img-project > img {
  width: 97%;
  height: 97%;
  border-radius:1rem ;
}

.project-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.project-description > p {
  padding: 1rem 1.5rem;
  text-align: justify;

}

.button-container {
  display: flex;
}

.button-project {
  padding: 0.5rem 1rem;
  width: 5rem;
  white-space: nowrap;
  margin: 0.5rem;
  color: var(--second-color-white);
  background-color: var(--primary-color-orange);
  border-radius: 0.5rem;
  transition: 0.5s;
  border: 1px solid transparent;
}

.button-project:hover {
  background-color: var(--second-color-white);
  border: 1px solid var(--primary-color-orange);
  color: var(--primary-color-orange);
}

.contact-section {
  background-color: var(--primary-color-orange);
  height: 19vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.title-contact {
  color: var(--second-color-white);
}

.contact-container {
  display: flex;
  margin: 0.5rem 0;
}

.contatc-img {
  width: 32px;
  margin: 0 0.5rem;
}

.button-contact {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  width: 10rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
  transition: 0.5s;
  border: 1px solid var(--second-color-white);
}

.button-contact > a {
  color: var(--second-color-white);
  font-size: medium;
  text-decoration: none;
}
.button-contact > a:hover {
  color: var(--second-color-white);
  text-decoration: underline;
}

.footer {
  color: var(--second-color-white);
  font-size: small;
  background-color: var(--primary-color-orange);
  text-align: center;
}
.footer > p {
  margin: 0.5rem;
}

@media (max-width: 1550px) {
  .hello {
    font-size: 50px;
  }

  .name {
    font-size: 50px;
  }

  .developer {
    font-size: 50px;
  }
  .description {
    width: 30rem;
  }

  .frame {
    height: 32rem;
    width: 28rem;
  }

  .picture {
    height: 25rem;
    width: 25rem;
  }
}

@media (max-width: 1400px) {
  .work-and-school-container {
    flex-direction: column;
  }
  .work-and-school {
    margin: 0 5rem 1rem 5rem;
    width: 80%;
  }

  .skils-card {
    width: 12rem;
    font-size: 25px;
  }
  .skils-img {
    width: 32px;
  }
}

@media (max-width: 1250px) {
  .hello {
    font-size: 40px;
  }

  .name {
    font-size: 40px;
  }

  .developer {
    font-size: 40px;
  }
  .description {
    width: 25rem;
  }

  .frame {
    height: 27rem;
    width: 23rem;
  }

  .picture {
    height: 20rem;
    width: 20rem;
  }

  .button_cv {
    padding: 0.5rem 2rem;
  }
  .skiks-container {
    padding: 0.5rem;
  }

  .skils-card {
    width: 10rem;
    font-size: 20px;
  }
  .skils-img {
    width: 32px;
  }
  .projects-section {
    margin: 10rem 2rem;
  }
}

@media (max-width: 1050px) {
  .frame {
    height: 22rem;
    width: 18rem;
  }

  .picture {
    height: 15rem;
    width: 15rem;
  }

  .hello {
    font-size: 30px;
  }

  .name {
    font-size: 30px;
  }

  .developer {
    font-size: 30px;
  }

  .description {
    font-size: 15px;
    width: 19rem;
  }

  .description-about > p {
    font-size: 20px;
  }

  .skiks-container {
    padding: 0;
  }
  .skils-card {
    width: 8rem;
    font-size: 15px;
  }
  .skils-img {
    width: 32px;
  }
}

@media (max-width: 850px) {
  .apresentation {
    flex-direction: column-reverse;
    justify-content: flex-end;
    align-items: center;
  }
  .apresentation-image {
    margin-bottom: 3rem;
    margin-left: 0rem;
  }
  .apresentation-text {
    text-align: center;
  }

  .frame {
    height: 22rem;
    width: 18rem;
  }

  .picture {
    height: 15rem;
    width: 15rem;
  }

  .hello {
    font-size: 40px;
  }

  .name {
    font-size: 40px;
  }

  .developer {
    font-size: 40px;
  }

  .description {
    width: 25rem;
  }

  .description-about {
    font-size: 18px;
  }

  .about-container {
    margin: 3rem;
  }

  .skiks-container {
    margin-right: 0;
    width: 80%;
    flex-direction: row;
  }
  .row {
    flex-direction: column;
    margin: 0;
  }

  .row-more {
    flex-direction: column;
    margin: 0;
  }
}

@media (max-width: 650px) {
  .description-about > p {
    font-size: 15px;
  }

  .work-and-school > p {
    font-size: 15px;
  }
  .skils-section > h1 {
    font-size: 25px;
  }

  .skils-card {
    width: 6rem;
    font-size: 12px;
  }

  .container-projects-wrap {
    margin: 0;
  }

  .contact-section {
    height: auto;
  }

  .title-contact {
    margin-top: 1rem;

    color: var(--second-color-white);
  }
  .contact-container {
    flex-direction: column;
  }
}

@media (max-width: 500px) {
  .frame {
    height: 19rem;
    width: 15rem;
  }

  .picture {
    height: 12rem;
    width: 12rem;
  }

  .hello {
    font-size: 30px;
  }

  .name {
    font-size: 30px;
  }

  .developer {
    font-size: 30px;
  }

  .description-about > p {
    padding: 1rem 2rem;
  }

  .work-and-school {
    margin: 0 1rem 1rem 1rem;
  }
  .work-and-school > p {
    font-size: 12px;
  }
  .work-and-school > h4 {
    font-size: 12px;
  }
  .skiks-container {
    padding: 0;
    flex-direction: column;
  }
  .skils-card {
    justify-content: flex-start;
    margin: 0.5rem;
    width: 15rem;
    font-size: 15px;
  }
  .skils-img {
    width: 32px;
  }
  
  .projects-section > h1 {
    font-size: 25px;
  }
  
  .projects-container {
    margin: 1rem;
    height: 35rem;

  }
  .project-description  {
    margin: 0.5rem;
  }
  .project-description > p {
    font-size: 15px;

  }
  .card-project {
    height: 20rem;
    width: 15rem;
  }


  .button-container {
    flex-direction: column;
  }

  .button-project {
    width: 10rem;
    white-space: normal;
  }
}

@media (max-width: 420px) {
  .apresentation {
    height: 75vh;
  }
  .apresentation-image {
    margin-bottom: 3rem;
    margin-left: 0rem;
  }

  .frame {
    height: 17rem;
    width: 13rem;
  }

  .picture {
    height: 10rem;
    width: 10rem;
  }

  .hello {
    font-size: 20px;
  }

  .name {
    font-size: 20px;
  }

  .developer {
    font-size: 20px;
  }

  .description {
    font-size: small;
    width: 15rem;
  }

  .button_cv {
    padding: 0.5rem 1rem;
  }
  .description-about > p {
    padding: 1rem 2rem;
    font-size: 10px;
  }
  .description-about > h1 {
    font-size: 20px;
    padding: 1rem 0 0.5rem 0;
  }
  .work-and-school-container {
    margin: 0;
  }
  .work-and-school {
    margin: 0 1rem 1rem 1rem;
    width: 70%;
  }
  .work-and-school > p {
    font-size: 10px;
  }
  .work-and-school > h4 {
    font-size: 12px;
  }

  .skils-section > h1 {
    font-size: 20px;
  }
  .skils-card {
    margin: 0.5rem 0.8rem;
    width: 10rem;
    font-size: 15px;
  }
}

@media (min-height: 700px) and (max-width: 480px) {
  .apresentation {
    justify-content: center;
  }
}

/* Estilos para a barra de rolagem */
::-webkit-scrollbar {
  width: 10px; /* Largura da barra de rolagem */
}

/* Estilo da trilha da barra de rolagem */
::-webkit-scrollbar-track {
  background: transparent; /* Cor de fundo da trilha */
}

/* Estilo do botão (alça) da barra de rolagem */
::-webkit-scrollbar-thumb {
  background: var(--primary-color-orange); /* Cor do botão da barra de rolagem */
}
